{% extends '_include/base.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i>Print Receipt</a>
    </div>

    <!-- Content Row -->
    <div class="row mb-5">
        <div class="col-xl-12 col-md-12 mb-12">
            <a class="btn btn-dark btn-icon-split mr-4" href="{{ url_for('product.add_product') }}">
                <span class="icon text-white-50">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <span class="text">Add Purchase</span>
            </a>
        </div>
    </div>

    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Product List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered post" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-dark">
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Type</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product['id_barang'] }}</td>
                            <td>{{ product['nama_barang'] }}</td>
                            <td>{{ product['tipe_barang'] }}</td>
                            <td>{{ product['harga'] }}</td>
                            <td>{{ product['stock'] }}</td>
                            <td>
                                <a class="btn btn-warning btn-icon-split mr-4" href="{{ url_for('product.edit_product', id=product['id_barang']) }}">
                                    <span class="text">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}