{% extends '_include/base.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Purchase</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i>Print Receipt</a>
    </div>

    <!-- Content Row -->
    <div class="row mb-5">
        <div class="col-xl-12 col-md-12 mb-12">
            <button class="btn btn-dark btn-icon-split mr-4">
                <span class="icon text-white-50">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <span class="text">Add Purchase</span>
            </button>
        </div>
    </div>

    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Purchases</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered post" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-dark">
                        <tr>
                            <th class="text-center">Purchase ID</th>
                            <th class="text-center">Purchase Date</th>
                            <th class="text-center">Product Name</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Pay</th>
                            <th class="text-center">Employee</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                        <tr>
                            <td class="text-center">{{ purchase['id_pembelian'] }}</td>
                            <td class="text-center">{{ purchase['tgl_pembelian'] }}</td>
                            <td class="text-center">{{ purchase['nama_barang'] }}</td>
                            <td class="text-center">{{ purchase['harga'] }}</td>
                            <td class="text-center">{{ purchase['bayar'] }}</td>
                            <td class="text-center">{{ purchase['nama'] }}</td>
                            <td>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}